[2016-03-04 12:53] sashaafm opened #1 "Is this project dead?"
Hello is this project dead? I'm trying to get a token for Cloud Storage but it doesn't seem to work:

[code]

[2016-03-04 21:48] peburrows commented on #1
No, the project isn't dead at all. In fact, it's just a baby :)

If you don't mind providing more information about how to reproduce the issue, I'd be happy to track it down.

[2016-03-05 12:54] sashaafm commented on #1
Hello @peburrows I just solved my problem this morning. As you can see in the code I'm using the wrong URL for scope. I inserted the correct one for Cloud Storage and it works now. But thanks!

What other features are you thinking of implementing?

[2016-03-07 19:37] peburrows commented on #1
@sashaafm currently, Goth's only responsibility is to retrieve and manage access tokens. I've written [Kane](https://github.com/peburrows/kane) for Pub/Sub, and I'm currently also working on a library for Datastore.

My plan is to build libraries for specific Google APIs, all of which will use Goth for token management.

[2016-03-07 19:37] #1 closed

[2016-03-07 21:40] sashaafm commented on #1
@peburrows I'm also building a client/library to most of Google Cloud Platform API's. Right now I'm doing Google Cloud Platform, and I'm using your Goth app for authentication :+1: I started it just a couple of days ago.

[www.github.com/sashaafm/gcloudex](url)

Are you interested in collaborating to build the library together?

[2016-03-08 04:31] peburrows commented on #1
@sashaafm I'd totally be open to collaboration. I'll take a look at your code and will also update this issue when I have something worth looking at for my Datastore lib.

Thanks for reaching out!

[2016-03-08 11:27] sashaafm commented on #1
No problem @peburrows :) Look forward to hearing from you. I'm aiming at doing Storage and Compute Engine until May.

P.S. I meant I'm working on the client for Google Cloud Storage right now.

[2016-07-02 03:06] sdn90 opened #5 "Update version number in README.md"
Installation instructions still show `~> 0.0.1`

[2016-07-06 15:50] #5 closed

[2016-11-28 23:14] ponty96 opened #10 "Could not start application goth"
<img width="974" alt="screen shot 2016-11-29 at 12 10 00 am" src="https://cloud.githubusercontent.com/assets/11190968/20690002/50d8b524-b5c8-11e6-9a3f-da58e48679ef.png">

[2016-11-28 23:16] peburrows commented on #10
@ponty96 have you configured goth in your mix file with your json credentials, or are you running in GCE?

[2016-11-28 23:18] ponty96 commented on #10
@peburrows oh, i haven't... b/w whats a GCE account?

[2016-11-28 23:43] ponty96 commented on #10
so I just did that and i'm getting this:
<img width="708" alt="screen shot 2016-11-29 at 12 38 41 am" src="https://cloud.githubusercontent.com/assets/11190968/20690675/40dd5cc0-b5cc-11e6-9824-29b371238cc9.png">

[2016-11-28 23:49] ponty96 commented on #10
in my `devs.exs`

[code]

[2016-11-28 23:53] peburrows commented on #10
The error you're seeing now appears to be specific to your app and looks like it's because something is already listening on the port you're attempting to use. That's what the `{:listen_error, Distru.Endpoint.HTTP, :eaddrinuse}` is indicating.

[2016-11-28 23:54] ponty96 commented on #10
yep. thanks

[2016-11-30 21:10] ponty96 commented on #10
so i'm getting this error:
[code]

[2016-12-01 02:20] peburrows commented on #10
Your latest error looks like the first one, and most likely stems from not properly configuring goth with your credentials.

In the context of goth, the `:nxdomain` exception will be raised when you attempt to hit Google's metadata service when running outside of Google's network (the `http://metadata.google.internal` domain is not publicly accessible). Goth will only hit the metadata service if y

[2017-02-13 15:14] #10 closed

[2017-08-26 00:25] dazuma opened #19 "Do we really need Client.check_metadata_scope?"
Goth.Client.check_metadata_scope checks to see if the requested scope is declared with the service account token provided by the metadata service, and errors out if not. But I don't think a straight string comparison does the right thing, because some scopes imply others.

For example, I'm trying to run an app in an App Engine VM. By default, GAE instance service accounts don't provide the `https:

[2017-08-29 20:59] peburrows commented on #19
That's a great point. Looking at the code, I'm not sure I remember why I felt the need to validate the scope. Let me dig into this a bit more, but I'm thinking you're right and we should just omit the check altogether (plus, you'd be the expert here anyway 😂).

[2017-09-08 18:46] dazuma opened #21 "Proposed additional ways to infer project ID from the environment"
Currently we infer project ID only from the Compute Engine metadata server (if available).

While I don't think there's a documented recipe for how to infer the project, the way that we have for [application default credentials](https://developers.google.com/identity/protocols/application-default-credentials), there are some common practices being used (still somewhat inconsistently) by the auth l

[2017-09-08 18:49] dazuma commented on #19
I saw the commit for this. Thanks!

[2017-09-08 18:49] #19 closed

[2017-09-23 15:42] alex88 opened #23 "Configurable timeout calling google oauth"
Today I was having strange issues with a container running on GKE, when trying to upload an image using https://github.com/martide/arc_gcs every request was throwing this error:

      ** (MatchError) no match of right hand side value: {:error, %HTTPoison.Error{id: nil, reason: :connect_timeout}}
          (goth) lib/goth/client.ex:53: Goth.Client.get_access_token/2
          (goth) lib/goth/token

[2017-10-05 23:59] #21 closed

[2017-10-11 03:17] kungfu321 opened #25 "Error when call for_scope"
I'm using {:ok, goth} = Goth.Token.for_scope("https://www.googleapis.com/auth/devstorage.full_control")
But i seen a bug. Please help me

** (exit) an exception was raised:
    ** (UndefinedFunctionError) function :crypto.mpint/1 is undefined or private
        (crypto) :crypto.mpint(1968787343174219392005597024313029446712420665868208729898379403879821695553097591514633358673231490070003561161104

[2017-10-11 03:39] dazuma commented on #25
@kungfu321 Make sure you are using the latest releases of goth (0.6.0) and json_web_token (0.2.10). This issue, I believe, appears in older versions of json_web_token when running on Erlang 20. (See https://github.com/garyf/json_web_token_ex/pull/22)

[2017-10-11 04:14] #25 closed

[2017-12-11 04:33] brandonparsons opened #27 "Change format of environment variable?"
Hi there,

Is there any way to make it possible to accept a Base 64 encoded version of the JSON auth credentials? The huge JSON string is a bit unwieldy.

[2017-12-20 21:48] chengyin opened #29 "sub Support"
I noticed that there are two PRs (#7, #12) on this. Before I try to work on the 3rd one, is this something this lib wants to support?

[2017-12-20 21:49] chengyin commented on #29
Just noticed that the new version does have this! Sorry about the spam.

[2017-12-20 22:01] chengyin commented on #29
The new `actor_email` config only applies to one user. What if I need to dynamically change who to personate in each call?

[2017-12-21 03:15] peburrows commented on #27
I think this would definitely be a handy addition, but I need to think about how we might go about doing this.

[2017-12-21 03:17] peburrows commented on #29
Currently, there's no way to do this dynamically, unfortunately. The `actor_email` config was added to fill the gap in functionality, but longer term I'd like to provide a more flexible way of doing things.

I might have some time to work on this feature next week, but as always, PRs are more than welcomed!

[2017-12-22 19:18] chengyin commented on #29
I made the changes since I need the feature. PTAL at the PR. Thanks!

[2018-01-02 09:16] nicolasgarnil opened #31 "Invalid type specification for Token.for_scope/1"
## Problem

The type specification for the method `Token.for_scope/1` specifies that it can return an `:error` atom but it never does

## Solution

In which cases can `Token.for_scope/1` return an error? If it can actually can return an error then it should be handled, if not, the type specification should be removed

[2018-02-17 21:17] #29 closed

[2018-02-17 21:25] peburrows commented on #27
Now that #32 is merged, you should be able to do this yourself as part of an `init` callback. As such, I'm going to close this issue.

[2018-02-17 21:25] #27 closed

[2018-03-15 08:29] stiang opened #33 "Exception when HTTP POST fails"
On these lines you pattern match for (only) `{:ok, response}`:

https://github.com/peburrows/goth/blob/fa32be1f65072258bd48a69c81665e95fd248cec/lib/goth/client.ex#L66

https://github.com/peburrows/goth/blob/fa32be1f65072258bd48a69c81665e95fd248cec/lib/goth/client.ex#L87

I see quite a few exceptions like this after switching networks and/or waking my Mac:

[code]

Is it a deliberate choice that th

[2018-03-16 14:58] peburrows commented on #33
This was a deliberate choice, but I'm open to the possibility that it was the wrong choice :)

Personally, my preference in those types of error scenarios is to just let it crash. I'm assuming your proposal would be to just return the `{:error, %HTTPoison.Error{}}` directly instead?

[2018-03-16 19:36] stiang commented on #33
I’m not sure either, and I am certainly no Elixir wizard, but from a developer perspective I had already handled the `{:error, err}` case and was surprised that I also had to put a rescue block around it to catch other "runtime" errors.

In my case I have a PubSub handler that receives lots of messages, and the "let it crash" strategy will take down the entire app since the frequent crashes in suc

[2018-04-07 17:00] apognu opened #35 "Using several service accounts"
Is there a way to use different service account (possibly related to completely different projects)?

In the context of my current project, I need to call the Google APIs as a dozen different users in order to retrieve data from all my projects. Does the feature already exist?

Thanks.

[2018-04-09 06:56] nitinstp23 opened #37 "TokenStore - Define init/1 required by behaviour GenServer"
Getting this warning message on compilation -

[code]

[2018-04-09 13:11] dsignr opened #38 "Update httpoison version?"
Just a suggestion, currently goth uses 0.11, but the latest httpoison version is 1.0. I followed here all the way from https://github.com/sashaafm/gcloudex :)

[2018-04-09 21:45] montebrown opened #39 "Fix required versions - poison is unresolvable"
goth depends on:
 - poison 2.1 or 3.0
 - json_web_token

json_web_token depends on:
 - poison 3.1

This makes the dependency graph unresolvable. The workaround is to set "override: true" for the poison version.

[2018-04-11 16:59] peburrows commented on #35
Currently, Goth doesn't support multiple accounts, unfortunately. I definitely think it's worth adding, and would be happy to accept an PR that adds that functionality.

I'll take a look at implementing this when I get a chance.

[2018-04-11 17:01] peburrows commented on #39
Yeah, looks like things have changed since the last time I released a version. I'll work on the dependency specs to fix this.

[2018-04-11 17:02] peburrows commented on #38
Yep, should be no harm updating to the latest httpoison. I'll add this to my todo list.

[2018-04-11 17:08] peburrows commented on #37
Thanks, I've merged #36 and published to hex as `0.8.1`!

[2018-04-11 17:08] #37 closed

[2018-04-11 17:09] peburrows commented on #31
Closing as this was resolved by #34.

[2018-04-11 17:09] #31 closed

[2018-04-11 17:10] nitinstp23 commented on #37
@peburrows  Cool 👍

[2018-04-11 17:11] dsignr commented on #38
Thanks for the fast response. (A Small correction, I came from [this issue](https://github.com/sashaafm/gcloudex/issues/15) here.)

[2018-04-12 00:28] peburrows commented on #39
So, I started looking into this, and the current version requirements shouldn't be an issue. Specifying `~> 3.0` essentially resolves to `>= 3.0 and < 4.0`, and it works just fine with `3.1` for me.

Please let me know if you're seeing an actual error, and if so, what that error might be. Otherwise, I'm going to consider this issue closed.

[2018-04-12 00:32] #38 closed

[2018-04-12 00:59] peburrows commented on #35
I should mention that Goth does, however, allow you to pass in "the email address of the user for which the application is requesting delegated access" as a second argument to certain functions like [`Token.for_scope/2`](https://hexdocs.pm/goth/Goth.Token.html#for_scope/2) (this optional email address will be added as a `sub` claim on the JWT that is generated when requesting a token from the API)

[2018-04-12 01:26] peburrows commented on #33
@stiang give #40 a shot and see if it addresses your issues.

[2018-04-12 08:11] apognu commented on #35
The argument for `Token.for_scope/2` serves its own purpose, but as I understand it, it is used to impersonate a user for the same project. What I am looking for a a way to parse, store and use credentials from projects that might have nothing to do with each other.

I might find some time to craft a PR around this, but my guess is this would change the anatomy of the project quite a lot, so it ma

[2018-04-12 16:09] apognu commented on #35
I have something that works, I'll submit a PR when I get home tonight.

[2018-04-16 13:00] stiang commented on #33
Thanks @peburrows ! I’ve glanced at the code and it looks like it should solve the issue nicely, but I’m swamped at the moment and haven’t found the time to test it yet. Hope to find some time in the next few days, will report back.

[2018-05-11 14:50] parkerjm commented on #35
I would also love this functionality. Let me know if I can assist with the PR.

[2018-05-11 15:14] apognu commented on #35
The PR I submitted should cover it. Waiting for merge or comment.

[2018-05-14 03:02] munjalpatel commented on #39
I am also running into this issue. I am not able to do `mix deps.get`

[2018-07-12 14:49] carlpartridge commented on #33
@peburrows seeing this issue as well.  any updates or timeline on this?  would prefer not to add in a rescue if this is still happening.

thanks for your time

[2018-08-26 03:36] exAspArk commented on #35
From reading the current source code, looks like it should be possible with:

[code]

[2018-10-10 00:40] #39 closed

[2018-10-10 00:43] peburrows commented on #33
Sorry for the slow responses here, I've been in wedding planning hell for months, but we just got back from our honeymoon, so back to being productive! 🎉

#47 should fix this issue, and I plan on merging it and pushing a new release soon.

[2018-12-05 03:53] peburrows commented on #33
Closing this as it should be addressed by #47.

[2018-12-05 03:53] #33 closed

[2019-01-23 16:18] jscott22 opened #50 "Disabled flag not working in 1.0.0"
It seems like the ability to disable Goth with disabled: true was removed in the 1.0.0 release. I'm not sure if this was intentional or not, but the flag is still present in the README.

[2019-01-23 16:23] #50 closed

[2019-01-23 17:14] jdrakes opened #51 "Joken in v1.0.0 is not working in cloud"
I am trying to use GCP system credentials in Google Cloud and am receiving an error ** (UndefinedFunctionError) function Joken.Signer.create/2 is undefined (module Joken.Signer is not available)

[2019-01-26 17:41] amit115532 commented on #51
Same here

[2019-01-26 22:20] thdxr opened #52 "Library Structure"
Goth is structured so it reads configuration at start and then attempts to verify credentials.  This makes it very difficult for it to work in environments where configuration is loaded dynamically.  Take a look at this article for best practices to avoid this issue and other cascading ones:  https://michal.muskala.eu/2017/07/30/configuring-elixir-libraries.html

I need to be able to disable all G

[2019-01-27 02:03] peburrows commented on #52
There are actually already two clean ways to do this:

1. You could explicitly disable Goth in your dev config via `config :goth, disabled: true`
2. You could load the config dynamically via the built-in callback. Look at https://github.com/peburrows/goth/pull/32 for more info

[2019-01-27 02:05] peburrows commented on #52
By the way, that’s not to say that #45 wouldn’t also be helpful, but I don’t believe it’s a requirement for the scenario you described.

[2019-01-28 16:09] jdrakes commented on #51
@peburrows I got it to work but I had to declare joken in my personal apps mix.exs file instead of it being pulled in when goth was compiled. It does not look like goth is requesting it be compiled into the library.

@amit using the fix above should work for now.

[2019-01-28 17:03] peburrows commented on #51
@jdrakes & @amit115532 — can you try `v1.0.1-beta` I just pushed to Hex? It should address the issue of Joken not being included in releases.

[2019-01-28 19:07] amit115532 commented on #51
Works using `1.0.1-beta` :)
Thanks! @peburrows

[2019-01-28 20:24] #51 closed

[2019-02-05 04:31] thdxr commented on #52
Explicitly disabling goth via config means the only way I can enable it is changing the config at release time.  Still prevents me from selectively disabling goth at runtime in certain environments

I'm not certain on this but I think the callback module still gets called before my application starts up so it doesn't work for runtime configuration that is initialized in my application.

The recomm

[2019-02-05 15:08] peburrows commented on #52
There's no need to change your config at release time. Instead, it's easily accomplished with different configs for different environments, which is very common practice. Phoenix applications, for instance, are generated by default with per-env configs.

The very article you link to suggests a callback module for stateful libraries, which is exactly what Goth does.

I'm not entirely sure what it i

[2019-03-07 19:04] #52 closed

[2019-03-28 01:16] vans163 opened #53 "just an error"
[code]

Im using the JSON file from GCP.

[2019-04-08 17:55] lccezinha commented on #53
@vans163 do you mean the option 2 from https://github.com/peburrows/goth#installation?

Could you please post here the config line?

[2019-04-09 20:47] vans163 commented on #53
I think something was wrong on my end, but I got it working just error was cryptic.

[2019-04-25 17:19] coryodaniel opened #55 "Invalid typespec for Goth.Token.for_scope/1"
`Goth.Token.for_scope/1` has a typespec`{:ok, t}`, but I believe should be `{:ok, t} | {:error, any()}` as it will return HTTPoison errors.

Not the biggest of deals, but it makes downstream dialyzer a bit noisy.

Thanks for your work on this library. Its been super useful!

[2019-04-29 22:24] peburrows commented on #55
Maybe I'm missing something, but I don't think there's a case where `Goth.Token.for_scope/1` would do anything other than return `{:ok, t}` or raise a `MatchError`. Do you mind pointing out where the `{:error, any()}` could be returned from `Token.for_scope/1`?

[2019-04-30 00:23] coryodaniel commented on #55
Sorry, it should return but ends up w a mismatch on L150 below. Disable your NIC and call it.

https://github.com/peburrows/goth/blob/ab55cd47c01698f81ca55c353f3737d498134d0d/lib/goth/token.ex#L150

https://github.com/peburrows/goth/blob/ab55cd47c01698f81ca55c353f3737d498134d0d/lib/goth/client.ex#L88

[2019-05-06 21:39] coryodaniel commented on #55
[code]

[2019-05-06 22:50] arilaen opened #56 "Skipping auth with PUBSUB_EMULATOR_HOST"
Could authentication/credential logic be skipped when $PUBSUB_EMULATOR_HOST is defined, so that just the project_id key is included in the Goth config module? Other google cloud clients also use that environment variable: https://cloud.google.com/pubsub/docs/emulator#accessing_environment_variables

Alternatively, the Kane pubsub library could be updated to use a mock Goth module in that case.

I

[2019-05-07 00:46] peburrows commented on #55
Yep, been traveling, but hoping to get to this some time tomorrow.

[2019-05-07 02:05] coryodaniel commented on #55
No rush was just adding an example for my own sanity!

[2019-05-08 23:54] arilaen commented on #56
I got around this by using volumes with docker-compose:
[code]
Since there's a workaround I'll close this issue. If there's time it might still be nice to have more detailed docs/error logging around finding/missing the default credentials file when `GOOGLE_APPLICATION_CREDENTIALS` is not defined.

[2019-05-08 23:54] #56 closed

[2019-05-23 06:31] ebjerkelund opened #57 "Google returning json that is not parseable"
I am getting results from the token request that is not parseable by Goth.

dev.exs:
config :goth,
json: "./xxxxxxxxxxx.json" |> File.read!

Code:
{:ok, token} = Token.for_scope("xxxxxxxxxxxxxxxx@appspot.gserviceaccount.com")

returns:
** (ArithmeticError) bad argument in arithmetic expression
        :erlang.+(1558592257, nil)
        lib/goth/token.ex:117: Goth.Token.from_response_json/3

Proble

[2019-05-27 18:15] aizotov opened #58 "target_audience claim"
Are there any plans to support the `target_audience` claim as described [in the IAP docs](https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_service_account) ?

[2019-06-10 02:44] bfolkens commented on #53
I'm seeing the same issue with using:

[code]

[2019-06-11 08:35] burzum34 commented on #57
I have the same problem, and it looks like Goth assumes that Google always includes the `expires_in` attribute in the response, which does not seem to be the case.

[2019-06-18 17:40] coryodaniel commented on #55
That looks like the fix!

[2019-06-20 02:36] #55 closed

[2019-06-20 02:37] peburrows commented on #55
Just published to Hex as `v1.1.0`

[2019-06-21 04:15] xingxing commented on #35
Hey, guys. Allow me to introduce you a new repo that I created to resolve this issue, [Gotham](https://github.com/xingxing/gotham)

we can put current service account into process dictionary, thus make our APIs invoking more naturally.

Welcome for any criticism and PR, any time.

[2019-06-21 14:45] peburrows commented on #35
Honestly, I believe this issue is actually resolved by #41 and should probably be closed.

@xingxing can you help me understand what problem Gotham solves that #41 doesn't?

[2019-06-22 15:13] xingxing commented on #35
## Why I think #41 is not good enough
Hi @peburrows,  #41 requires to add at least one parameter/option (**sub**) to every method you need applying multiple GCP service accounts.

That seems OK for this single library, but what  if you want to make some library where used Goth (e.g. [kane](https://github.com/peburrows/kane)) to support multiple service accounts, that will be come to a nightmare. I

[2019-06-24 20:35] peburrows commented on #57
I think the issue here is the scope for which you are requesting a token. The scopes Goth expects are the ones listed in this doc: https://developers.google.com/identity/protocols/googlescopes, whereas it looks like you're passing in an email address as the scope. I would expect such a request to fail outright, but apparently it does indeed generate a token response, but not in the shape we're exp

[2019-06-25 11:13] yuchunc opened #59 "Config from ENV var in README does not behave as described"
Referring to this section:
https://github.com/peburrows/goth/blob/master/README.md#L26-L29

In the README it says to pass in the path from system ENV, but looking function `Goth.Config.load_and_init/1`, it is triggering `Goth.Config.from_json/1` function.

https://github.com/peburrows/goth/blob/master/lib/goth/config.ex#L121-L127

It will produce not valid json format from Jason.

I think it is mi

[2019-06-25 13:58] peburrows commented on #59
Maybe it's not clear, but if you are passing a `{:system, var}` tuple in the `:json` config, that ENV var needs to be the json itself, not the path to a file. Anything passed in Goth's `:json` config needs to actually be json.

For the most part, Goth expects the json directly, not a path to a file that includes the json.

One exception to that (and this is to support the App Engine case), is if y

[2019-06-26 02:51] yuchunc commented on #59
@peburrows 👍

Would it be clearer if the config option accepts the json path instead of the raw json?

[2019-06-27 12:46] peburrows commented on #59
No, I don’t believe so; I think the json itself makes the most sense.

[2019-06-27 12:46] #59 closed

[2019-07-03 09:52] yuchunc opened #60 ":nxdomain when calling Goth.Token.for_scope/1"
I have been trying to auth with Google with `Goth.Token.for_scope/1`, and would get this error:

[code]

Looking in to the code base, I found it is trying to call `http://metadata.google.internal`, hence the `:nxdomain` error. I feel I missed something during the setup, but can't figure it out. How should I understand this error?

Thanks

[2019-07-10 19:07] rjacobskind opened #61 "Disabled flag not working as expected"
I want to set up a test environment where I can run tests without credentials for goth to start. In my `test.exs` I have:

[code]

When I run `mix test` with this, I get an error:
[code]

When I substitute in the valid credentials for the prod environment, the tests are able to run as expected. Is my config for disabling goth incorrect?

[2019-07-10 19:55] peburrows commented on #61
Interesting. That config should do the trick, so I'll have to dig into this and see what might be going on. Do you happen to have a minimal project where I can reproduce what you're seeing?

[2019-07-11 12:58] rjacobskind commented on #61
Unfortunately, I don't currently. If I have time I can try to put something together, but I don't foresee having a chance in the near future.

[2019-07-11 13:06] rjacobskind commented on #61
I resolved the issue. I made the silly mistake of downloading the version that's mentioned in the README.md, rather than checking out the hex package page for the most recent. I updated to version 1.1.0 and it runs fine.

[2019-07-11 13:06] #61 closed

[2019-07-11 14:17] peburrows commented on #61
Ah, sorry about that! I've updated the README to reference the latest version so other people don't run into this same issue.

[2019-07-19 08:13] yuchunc commented on #60
Hi, sorry to be a nuisance, but any direction on this would be super helpful!

Thank you!!

[2019-07-19 15:07] peburrows commented on #60
Sorry, I somehow completely missed this initial issue report!

Goth should only be falling back to hitting that internal Google metadata host when it can't find any other configuration. Have you configured Goth to use your service account json credentials, most likely via something like this in a config file:

[code]

(There are other ways to pass in your credentials, but those are the two most co

[2019-07-26 04:42] yuchunc commented on #60
@peburrows
ahhh..... I think I had provided the wrong credential json. I deleted everything and started again last week, and "accidentally" provided the right cred json, and it works now.
Do you think it might be useful to have warning messages in dev environment when some part of the cred is missing?

Thanks for being patient with me.

[2019-07-26 04:44] #60 closed

[2019-08-09 20:56] vans163 commented on #60
I think this is an error with how :inet_res works on newer erlang versions. 10.4.4 ERTS for example cannot parse a domain with a trailing /, but 10.2.2 ERTS can.

[2019-08-09 20:59] vans163 opened #64 "403 Forbidden whenever I try to make a token"
I transferred the GCP JSON credentials to another system.

[code]

[2019-08-09 21:06] peburrows commented on #64
I'm gonna need more information than that;  a `403` could mean a number of different things: https://cloud.google.com/storage/docs/json_api/v1/status-codes#403_Forbidden

[2019-08-09 21:08] peburrows commented on #64
Do your credentials work on the system you transferred them from?

[2019-08-10 06:05] vans163 commented on #64
Yes. creds work fine on that system, i just transferred the project over and did a icloud sdk installation jst incase.

[2019-08-10 09:01] vans163 commented on #64
Holy shit i never use config files. its had to be called config.exs not config.ex!

[2019-08-10 09:01] #64 closed

[2019-08-31 23:52] potibas opened #65 "Add a way to clear or bypass the TokenStore"
It would help a lot with testing if we could have a setting to ignore the TokenStore, forcing it to always get a new one.

Or, if there was a `TokenStore.clear` method we could at least create a test helper to clear the cache before specific tests, making them predictable.

I'm using bypass to simulate several conditions (token created, error creating token etc) and there comes a point where the t

[2019-09-01 00:21] potibas commented on #65
I took an attempt for a `TokenStore.clear` method, and it's working for my current purposes.

However, I'm sure there's more to it. It seems I should also delete the timers that refresh the tokens in the store when removing them, but I'm not sure how to go about it.

I don't think is good enough for a pull request, or even if a pull request is wanted in this case. But if anyone is interested:  gok

[2019-10-25 14:36] peburrows commented on #65
Yeah, what you've done looks like a good start, but I think you're right about the refresh timers. To properly do that, we'll need to start storing those returned timer refs as part of the state so that we can call `:timer.cancel/1` when we clear out the tokens.

[2019-11-25 13:46] ghost opened #67 "Jason cannot decode json file"
I have an issue regarding decoding my json file.

`config :goth, json: "config/gcs.json" |> Path.expand() |> File.read!()`

![Screen Shot 2019-11-25 at 8 03 23 PM](https://user-images.githubusercontent.com/47308329/69545272-6cb88b00-0fcc-11ea-9f5d-88faf3b1a369.png)

is it possible to use `Jason.encode_to_iodata()` for the the keys to be decoded properly?

[2019-11-25 14:51] peburrows commented on #67
I'm confused. Is your credentials file valid json?

[2020-01-23 20:35] matehat commented on #56
For anyone arriving here while googling a solution to use pubsub emulator with Broadway's PubSub client, in addition to provide a dummy token generator like this:

[code]

you also need to override the default pubsub connection url:

[code]

[2020-03-20 04:54] michaelst opened #68 "Can't fetch token due to handshake error"
[code]

[code]

[2020-03-20 04:55] michaelst commented on #68
looks like it is an HTTPoison issue

[2020-03-20 04:55] #68 closed

[2020-03-22 12:51] Adzz opened #69 "Configure when goth starts."
Hello, thanks for goth it's great. I have a question.

I made a lib that has goth as a dependancy. Let's call it gcp_secret_provider. I want to use gcp_secret_provider in another app, App A.

I have configured goth in gcp_secret_provider, and App A shouldn't know about Goth at all. But currently if I include gcp_secret_provider in App A, app A will crash on start up in `:dev` env or `:test` env be

[2020-04-24 00:06] 619 opened #70 "Failed to retrieve project data from GCE internal metadata service"
mix.exs deps looks like this:
      {:goth, "~> 1.2", config: :goth, json: "file.json" |> File.read!},

I also ran export GOOGLE_APP_CREDENTIALS=... already. What's going on?
[code]

[2020-04-24 01:59] 619 commented on #70
I get the same error when I disable goth in mix.exs with disabled: true

[2020-04-24 02:36] 619 commented on #70
Google's example for setting the path variable does not list the correct location for the path variable on macOS. Perhaps its intended for linux?

[2020-04-24 02:36] #70 closed

[2020-05-21 08:38] adrian-travelbytes opened #72 "HTTPoison.Error when trying to retrieve token"
This only appears to have cropped up recently but there is now an error when retrieving the token from Goth.

[code]

I am using erlang 22.0 along with Elixir 1.9.4 and 1.10.3.

There is a server that is using elrang 23 as a base and that also has the same issue.

[2020-06-01 01:28] glennr commented on #67
I was also tripped up by this error.

I think it is a misunderstanding of this configuration option

[code]

Where I specified GCP_CREDENTIALS as a *filename*, and not a JSON string.

So either you need to get your full JSON into the environment var e.g.

[code]

Or if like me you prefer to use a filename, change your config to something like:

[code]

[2020-06-01 15:46] peburrows commented on #67
One thing I would caution against related to this particular option is that this config is evaluated at _compile_ time, not _runtime_, so reading an ENV var within the config file itself will read the var at compile time (which may not actually be what you'd want).

[2020-06-30 11:20] sgerrand opened #73 "Tag v1.2.0"
I noticed that although version 1.2.0 has been released, it hasn't been tagged yet. While GitHub provides a nice visual diff for the [changes which have been merged since v1.1.0](https://github.com/peburrows/goth/compare/v1.1.0...master), this will change as soon as new commits get added.

Would you please tag the commit which was built and pushed to Hex.

[2020-07-14 15:39] peburrows commented on #73
Done: https://github.com/peburrows/goth/releases/tag/v1.2.0

[2020-07-14 15:39] #73 closed

[2020-07-24 22:51] psteckler opened #75 "HTTPoison error when calling `for_scope/1`"
When calling `Goth.Token.for_scope/1`, I see
[code]
Is this a misconfiguration on my system (Elixir 1.10.4, Linux Mint 20 x86_64)?

[2020-07-25 15:08] psteckler commented on #75
Needed a newer version of `hackney`.

[2020-07-25 15:08] #75 closed

[2020-08-05 01:06] helenmedrano commented on #53
@vans163 I'm getting this same error. Any chance you remember the fix?

[2020-08-08 19:23] bbhoss commented on #69
This seems to be the reason config shouldn't be used for things like this, or at least not the only option. Being able to call functions with the key info as a string would make this much easier.

[2020-09-28 04:52] pankaj-ag commented on #35
Hi @all,

Any update on this one. I need to load the account info dynamically.
Please Let me know if somebody found and any solution or workaround for this.

[2020-10-26 00:24] eamontaaffe opened #77 "Look for ADC credentials at ~/.config/gcloud/application_default_credentials.json"
When you run the command [`gcloud auth application-default-credentials login`](https://cloud.google.com/sdk/gcloud/reference/auth/application-default) the credentials are deposited at `~/.config/gcloud/application_default_credentials.json`.

This behavior doesn't seem to be documented in the [Application Default Credentials](https://cloud.google.com/docs/authentication/production) documentation. H

[2020-10-26 00:27] eamontaaffe commented on #77
https://github.com/peburrows/goth/blob/7eb2068331a98036d7779b524895e8f9495d73a7/lib/goth/config.ex#L131-L136

It looks like we could just update this function slightly.

[2020-10-26 00:51] eamontaaffe commented on #77
Maybe like this. Ill wrap this up into a PR later today.

[code]

[2020-11-05 05:19] xingxing commented on #35
Let's check my repo https://github.com/xingxing/gotham, hopefully it can solve your requirement.

[2020-11-05 05:51] pankaj-ag commented on #35
That's my solution in case that helps.

https://github.com/glific/glific/commit/a70f41f778eac8f440eb27085d04e56398d22367#diff-2983f2b7dd4791bffad2d17e6bd591b857afea1724e45372a2d681ef21f18443

[2020-11-29 05:57] Fudoshiki commented on #72
Related

https://github.com/benoitc/hackney/issues/664
https://github.com/thoughtbot/bamboo/issues/565
https://github.com/edgurgel/httpoison/issues/417

[2020-12-02 11:03] methyl commented on #72
Running `mix deps.update hackney` fixed this problem for me.

[2021-01-11 09:18] wojtekmach opened #82 "Goth redesign"
Hi, I'd like to propose a Goth redesign that replaces the global, application env-based, configuration with a more direct approach. This will in general give more control to the users (e.g. _when_ exactly Goth starts, _how_ it's configured, etc) and in particular it will solve one of the long standing issues of supporting multiple credentials. The new design is also more scalable as it replaces a

[2021-01-12 17:56] dantswain commented on #82
I am running into exactly the same sorts of issues that this is meant to solve.

[2021-01-19 07:12] yoelfme commented on #72
thanks, that saved my night!

[2021-01-27 03:31] peburrows commented on #82
This is awesome, thank you so much for putting in the time on this; I'm totally aligned on everything in your plan ☺️

[2021-01-27 11:03] wojtekmach commented on #35
Closing in favour or #82.

[2021-01-27 11:03] #35 closed

[2021-01-27 11:05] wojtekmach commented on #53
If you have more information how to reproduce the error, please let us know.

[2021-01-27 11:05] #53 closed

[2021-01-27 11:07] wojtekmach commented on #57
If this ever happens again, fwiw we'd have a slightly better error message as we're pattern matching [1], and if it's a common enough error, we could improve the message even further.

[1] https://github.com/peburrows/goth/commit/4807dfc10f0cf6081384994869fdb3b977b8d7c1#diff-95e472302fe0a61ea19f3bf2d132591c925af567d26eff393961af572df0df60R43

[2021-01-27 11:07] #57 closed

[2021-01-27 11:09] wojtekmach commented on #65
In #83 we're introducing a new API where you could start different Goth instances for different scenarios. You can also use the new `Goth.Token.fetch/1` to bypass the cache altogether and hit the external service directly.

[2021-01-27 11:09] #65 closed

[2021-01-27 11:12] wojtekmach commented on #67
In #83 we're introducing a new API where you'd explicitly pass the configuration: if you already have a map, you pass it as is; if you have a filename, you need to read it and decode it; etc. I believe we can close this then.

[2021-01-27 11:12] #67 closed

[2021-01-27 11:16] wojtekmach commented on #69
This is fixed in #83, we're introducing a new API where you'd be explicitly adding Goth to your supervision tree.

[2021-01-27 11:16] #69 closed

[2021-01-27 11:19] wojtekmach commented on #23
Closing in favour or #82. On master you can set `:http_opts`, but soon we'd have a way to swap http clients.

[2021-01-27 11:19] #23 closed

[2021-01-27 11:20] wojtekmach commented on #72
Yes, it can be solved by updating hackney, thanks everyone for providing extra context.

[2021-01-27 11:20] #72 closed

[2021-02-24 20:10] #77 closed

[2021-02-24 20:11] wojtekmach commented on #77
See https://github.com/peburrows/goth/pull/79#issuecomment-785341947.

[2021-02-24 20:11] wojtekmach commented on #58
There are no plans, if you'd like to work on it however, please make sure you check out https://github.com/peburrows/goth/issues/82 first.

[2021-02-24 20:11] #58 closed

[2021-03-16 19:57] bbhoss commented on #77
All of the Google auth clients support ADC, is there no way to get Goth to without a full redesign?

[2021-03-16 20:34] wojtekmach commented on #77
We hope the redesigned API is more flexible so adding ADC support will hopefully not require a 'full redesign'. Feel free to send a PR with ADC support, it could even be the default :source.

[2021-03-17 11:56] bbhoss commented on #77
Apologies, it wasn't clear that the redesign you write about above was already done as and released as an RC. I will give adding ADC support a shot!

[2021-03-17 12:07] bbhoss opened #94 "Add default source with ADC support"
As mentioned in #77, Goth should support ADC. Additionally Goth should Just Work™️ out of the box without needing to provide an explicit source in the case that default credentials exist. I propose we mirror the google-auth Python library that I suspect most GCP users have experience with. They have the order of defaults to use documented [here](https://github.com/googleapis/google-auth-library-py

[2021-03-17 12:14] wojtekmach commented on #77
No worries, thanks for looking into it!

[2021-03-22 02:49] mthomps4 opened #95 "JWT ArgumentError (JOSE)"
Unsure what is missing here.
Looking for advice.

Deps
[code]

application.ex
[code]

Error Trace
[code]

[2021-03-22 07:23] wojtekmach commented on #95
Thanks for the report. I could reproduce this error by putting `"private_key" => "bad"` (or `""`) instead of a proper private key in the PEM format in my `credentials`. Could you double-check that your credentials are valid?

[2021-03-23 01:08] mthomps4 commented on #95
Thanks for the quick response.

🤔
I took the JSON file and did a Node stringify
It looks ok at first, but on second glance the special characters may be throwing it off `\` `+` `\n`

[code]

Any info on how you got your creds to a full string for ENV?
Fairly certain that's it.

[2021-03-23 07:15] wojtekmach commented on #95
Great, glad its fixed. Im gonna go ahead and close this but if folks keep running into this we can probably at least improve the error message.

[2021-03-23 07:15] #95 closed

[2021-04-06 13:46] sam701 opened #96 "How to do impersonalisation?"
I'd like to call Gmail API with a service account key. Goth `1.2.0` has `Goth.Token.for_scope/2`, where I can put the user ID in the second argument. But how can I achieve the same with Goth `1.3.0`?

Here is my code
[code]

[2021-04-07 09:41] #96 closed

[2021-04-07 09:43] wojtekmach commented on #96
Thanks for the report, I just added a support for a `:sub` option on master. You'd use it like this:

[code]

please try it out and let us know if you run into any issues!

[2021-04-07 11:50] sam701 commented on #96
@wojtekmach It works. Thanks a bunch for the quick fix. 👍

[2021-04-07 11:56] sam701 opened #97 "Suggestion for scope parameter"
The Goth's `source` parameters has a field `scope`. That is a string but actually it can contain multiple scopes separated by a single space. The code below works:
[code]

It would be nice if the `scope` becomes `scopes` and expects a list of strings. Because
* not everybody is familiar with the OAuth2 spec,
* so we could avoid annoying typos in the string, e.g. double spaces, tabs, etc.

[2021-04-07 12:41] wojtekmach commented on #97
Sounds good. A PR that changes the `:scope` option to `:scopes` for the `:service_account` source would be appreciated. I think we should still keep it as `:scope` (string) on the `Goth.Token` for backwards compatibility though.

[2021-04-07 20:08] #97 closed

[2021-04-15 03:30] Papillon6814 opened #99 "Unknown CA error in Goth"
Hello.
I'm using goth with [elixir-google-api](https://github.com/googleapis/elixir-google-api).

Goth works in my dev environment, but It does not work in my remote docker container.
[code]

It occurs when I run this function.
[code]

Is there any hints to resolve it?

[2021-04-15 04:26] wojtekmach commented on #99
I remember seeing this error with certain hackney versions, Id try upgrading to the latest. Same goes for your OTP version.

Basically if `HTTPoison.get!("https://www.googleapis.com/auth/cloud-platform")` fails, it is not a Goth problem per se, if that makes sense.

hope this helps!

[2021-04-15 04:26] #99 closed

[2021-04-26 11:50] wojtekmach commented on #94
We don't plan to tackle this so I'm going to close this but a PR will be very welcome, thanks!

[2021-04-26 11:50] #94 closed

[2021-05-27 19:47] wojtekmach commented on #82
Before shipping 1.3, we should do one more change. Currently the name must be an atom and we use it for the process and for the ets table name. This is not ideal when users might want to dynamically start many servers. We can solve this by registering the processes with Registry. The registry will also handle the storage of the token and the config, it's an ETS table too so nothing will change in

[2021-06-14 15:52] paveltyk opened #101 "Access token for Cloud Function"
Is there a way to get an access token for a Google Cloud Function invocation via **Goth**? This is the code example, but I would prefer to rely on Goth instead:

[code]

Thank you!

[2021-06-14 16:32] wojtekmach commented on #101
This is currently not possible, we're missing ability to pass `target_audience` parameter when generating the JWT token. See #58. If you'd like to explore this further and send a PR, it will be very appreciated but we don't have plans to add it ourselves at the moment. Thanks!

[2021-06-14 16:32] #101 closed

[2021-06-14 17:37] paveltyk commented on #101
Thank you for a quick reply. If I go for a PR, should I start with v1.3.0 ?

[2021-06-14 17:44] wojtekmach commented on #101
yeah, please open against the master branch which will become 1.3.0.

[2021-06-15 10:08] paveltyk commented on #101
@wojtekmach I've looked at the codebase and my suggestion would be to introduce the `claims` override/extends to the source config, which would require replacing `sub` option to be replaced with `claims: %{"sub" => "bob@example.com"}`, i.e. `Goth.start_link(name: MyApp.Goth, source: {:service_account, credentials, [sub: "bob@example.com"]})` will become `Goth.start_link(name: MyApp.Goth, source: {

[2021-06-15 10:52] wojtekmach commented on #101
sounds good! Btw, I just pushed an update to docs so make sure you pull before you work on a patch.

[2021-06-17 10:47] paveltyk commented on #101
@wojtekmach Any estimates on merging https://github.com/peburrows/goth/pull/102 ?

[2021-06-17 11:00] wojtekmach commented on #101
thanks for the PR, i'll try to get to it by the end of this week if not,
definitely by the end of the following.
On June 17, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/peburrows/goth/issues/101#issuecomment-863135255>,
or unsubscribe <https://github.com/notifications/unsubscribe-
auth/AA

[2021-06-28 09:04] paveltyk commented on #101
**To sum up:** As I figured out, even though Google docs ask for a `target_audience` param to [generate cloud function invocation token](https://cloud.google.com/functions/docs/securing/authenticating#exchanging_a_self-signed_jwt_for_a_google-signed_id_token), it works fine if I submit cloud function URL as a `scope` instead. Therefore it's possible to get a token ID for cloud function with `v1.3.

[2021-06-28 09:05] paveltyk commented on #58
If someone is looking for how to get a token for Google cloud function invocation, please read more here: https://github.com/peburrows/goth/issues/101

[2021-06-28 09:22] paveltyk commented on #101
@wojtekmach PR #102 and a little trick around `scope` vs `target_audience` allow to get cloud function invocation token. However there still room for improvement. Should I go for my previous proposal to add `claims` in a source config (`{:service_account, credentials, [sub: "bob@example.com"]}` => `{:service_account, credentials, [claims: %{"sub" => "bob@example.com"}]}`) ? That should address all

[2021-06-28 10:12] wojtekmach commented on #101
Yeah a more general solution is definitely welcome. Please remember to revert parts of the previous PR if they no longer make sense.

[2021-07-06 07:44] pacoguzman commented on #82
@wojtekmach do you think we're ready for v1.13? or at least release an rc version which includes the registry thingy? Thanks in advance

[2021-07-27 13:46] hubertlepicki opened #107 "Using Goth on GAE with no extra configuration - Config.get(:client_email) errors"
I am trying to use Goth + Waffle + waffle_gcs on Google App Engine using the default service account, and without providing the credentials in any way through custom environmental variable or JSON file. I am using Goth 1.2, i.e. the version before redesign at the moment.

Things seem to work just fine, including uploading attachments to cloud storage, but waffle / waffle_gcs seem to fail on genera

[2021-07-27 20:36] chasers commented on #82
Thanks for this. I've got Logflare on the latest RC and all looks good for far! Hitting about 300 times per second roughly.

[2021-07-27 21:09] wojtekmach commented on #82
@pacoguzman I just published v1.3.0-rc.3. There are a few things left before the final, the pending PRs, but we're really close.

@chasers thanks for taking the time to test it and report feedback. Really appreciate it!

[2021-07-28 07:47] pacoguzman commented on #82
@wojtekmach thanks, we're already using this in our side and no issue so far

[2021-07-28 08:51] superruzafa commented on #82
@wojtekmach

ATTOW, it seems that version cannot be found in hex.pm:

https://hex.pm/packages/goth/1.3.0-rc.3

[2021-07-28 08:53] wojtekmach commented on #82
oops, sorry about that. It is out on Hex now.

[2021-07-28 14:11] hubertlepicki commented on #107
So it looks like goth is *not* figuring out client_email from Google's Default Application Credentials using internal API, similar way that it does with project_id. This is kind of inconsistent, but easy to fix.

I don't know if this should land in Goth, having in mind the redesign thing ? but code that works for me is something liike:

https://github.com/amberbit/waffle_gcs/blob/support_gae_defau

[2021-07-29 09:37] hubertlepicki commented on #107
@wojtekmach I'd like to make a proper fix to this at some point and was just wondering if you think client_email should be resolved by Goth the same way the project_id currently is, i.e. using instance metadata when on GAE / GCP, and thus the functionality to do so should be added to Goth, or should I continue doing that outside of Goth?

[2021-07-29 13:40] wojtekmach commented on #107
regarding adding functionality to Goth, if it's for the "new" api that's more likely to be accepted, if for the "old", less so as we want to move away from that.

Sorry, I need more time to dig into this, I'll try to have a better answer soon. A pretty uninformed answer at this moment is this. I believe Waffle uses Goth as "credentials store", not just for token but also the email and stuff. In my

[2021-07-30 07:49] hubertlepicki commented on #107
right, ok that's what I was thinking too about future of Goth and I was wondering if that even makes sense to add that functionality to the legacy modules if the intended usage is to not have them at some point. I think this makes sense @wojtekmach , but would be good for @peburrows to confirm

[2021-07-30 14:43] peburrows commented on #107
In general, I agree with @wojtekmach on this — Goth should be pretty specifically focused on generating tokens, not used as a general purpose config retrieval or storage mechanism. The ability to retrieve the email from Goth's config is more an artifact / byproduct of the way the service account credentials were passed than an intentional interface for doing such things.

[2021-08-04 07:28] feliperenan commented on #82
I'm also using 1.3.0-rc.3 here and everything looks fine until now 🎉

Just one question though: With legacy version we were able to get the `project_id` with either: `Goth.Client.retrieve_metadata_project` or `Goth.Config.get("project_id")` so that the second fetches it from a GenServer state if I'm not mistaken.

Could you guys tell me if that will still be supported?

[2021-08-04 07:42] wojtekmach commented on #82
We plan not to support it to keep the library more focused. See https://github.com/peburrows/goth/issues/107.

[2021-09-01 11:49] nunobernardes99 opened #108 "Bearer token construction"
Hey! When requesting for the access token of a google service account JSON file I have in my project I get a strange bearer token construction. With this behaviour the token still works, but it's strange to just give this output.

[code]

When calling the function, I get the following:
[code]

[2021-09-06 10:02] gr8Adakron opened #109 "Is it possible generate oauth token without using service account?"
Hey, For working with development env `goth` works smooth as butter, but while deploying the app in kubernetes I already  have `Kubernetes Service Account` binded to `Google Service Account` however is there a way to directly pass the Kubernetes Service Account identity to goth instead of JSON file?

As in production from security perspective using JSON file is not a good practise.

[2021-09-07 09:13] dsdshcym commented on #82
Hi @wojtekmach
We encountered a minor issue with 1.3.0-rc.3 that occurs when the app is shutting down:

Since `Goth.Registry` starts with the `:goth` application, but `Goth.Server` is started by our application,
`Goth.Registry` would shutdown before `Goth.Server`.

This would lead to an `** (ArgumentError) unknown registry: Goth.Registry` error
(when the app is still calling `Goth.Server.fetch` be

[2021-10-15 14:10] prem-prakash opened #110 "When passing hackney without default_opts as http_client to Goth.Token.fetch it breaks"
When passing hackney without `default_opts` as `http_client` to `Goth.Token.fetch` it breaks:

This does not work:

[code]

This does work:
[code]

[2021-11-08 17:16] prem-prakash commented on #110
Forgot to mention that the impact is that it became impossible to use other http clients that don't have a `default_opts` key in its config

[2021-11-08 17:58] wojtekmach commented on #110
Token.fetch/1 assumes an "initialised" http client, that is, the result of calling init/1 on the callback module. The idea was the initialisation shouldn't happen in Token.fetch/1 because it would mean doing that for every request. We don't have that problem in Goth.start_link, there we do perform initialisation ourselves because it only has to happen once. Does that make sense?

This should help:

[2021-11-09 01:21] prem-prakash commented on #110
Hey @wojtekmach thanks for taking the time to answer this issue.

Actually the problem I am facing is more related to other libs that make use of goth.

So for example the [pigeon](https://github.com/codedge-llc/pigeon) library would call `Goth.Token.fetch` directly without initializing Goth. And then I am not able to inject an HTTP mock client in my tests to mock the `Goth.Token.fetch` request. O

[2021-11-09 01:22] prem-prakash commented on #110
As soon as I understand the desired approach better, I am very willing to open a PR to contribute in code and in docs.

[2021-11-11 14:52] prem-prakash commented on #110
@wojtekmach WDYT about making HTTP client a Goth module configuration? I can submit a PR this change

[2021-11-11 16:39] wojtekmach commented on #110
Could you show a code snippet with what you have in mind?

[2021-11-11 16:56] prem-prakash commented on #110
Something like this: https://github.com/peburrows/goth/pull/111

[2021-11-19 19:24] wojtekmach commented on #110
Thank you for sending the PR. Looking at your problem description again, it looks like dep A calls dep B, and you are solving limitation of A by changing B. I believe depending on implementation details like these is brittle, perhaps dep A will change how it uses dep B without warning and it would be right to do so because again, it is an implementation detail. Maybe making dep A more customizable

[2021-11-21 14:12] prem-prakash commented on #110
Hey @wojtekmach, thanks for your time again!

I completely understand what you said. I think this discussion is tied to the current Goth use case. Having a genserver managing the connection isn't the only use case for Goth. Because there are people using Goth.Fetch directly, as I am myself in some internal dependencies, as well as this other dependency I mentioned. And the problem we face when we

[2021-11-21 15:57] wojtekmach commented on #110
I think you have a good point that passing some `http_options` around is annoying. It also requires all layers to be aware of that. I believe there's another option for that too, instead of "dep A" accepting some `http_options` to be passed to Goth.Token.fetch, "dep A" could have an `:token_fetcher` option, defaulting to `Goth.Token.fetch`, and a user could configure _that_. This is what for examp

[2021-11-22 02:17] prem-prakash commented on #110
Nice! This makes perfect sense! I completely agree with you. I'm going to close this PR and I'm going to mirror the Broadway Cloud PubSub approach. Thanks for clearing up this matter.

[2022-01-05 18:04] petelacey opened #113 ""Too many failed attempts" after dev computer wakes from long sleep"
This is most likely an issue on my end, but the solution is not obvious to me.

I previously used Goth 1.2 without any issues. After upgrading to 1.3.0-rc.3 and configuring it exactly as the readme says, I have the following problem.

When developing, if my laptop suspends for longer than the token expiration window, when resuming, Goth will attempt to get a token from Google using the already exp

[2022-01-19 00:16] dannypsnl opened #115 "1.3-rc cannot work as expected"
I switch to `1.3-rc` and it didn't work as `1.2`

### setup

[code]

[code]

### usage

[code]

[2022-01-21 09:29] wojtekmach commented on #115
Could you give some more context? What did you expect to happened and what actually happened? 1.3 has different API than the deprecated 1.2 API but the latter is still there.

[2022-01-21 10:06] wojtekmach commented on #109
I'm going to close this as it's not on the roadmap but a PR with another `:source` value specific for Kubernetes would be appreciated!

[2022-01-21 10:06] #109 closed

[2022-01-21 10:07] #107 closed

[2022-01-21 10:13] wojtekmach commented on #108
Could you clarify what is strange? What did you expect to happen and what actually happened?

[2022-01-21 10:47] wojtekmach commented on #108
oh, you are saying a ton of dots is weird? Yeah it's weird but that's what we get from the server and I don't think we should mess with it!

[2022-01-21 10:47] #108 closed

[2022-01-21 11:41] nunobernardes99 commented on #108
Oh ok @wojtekmach

Yeah even with the dots it still works so yeah it's best to just don't mess with it, it was just to give your attention if it was the case that it was on your side the problem ;)

[2022-01-24 05:02] devalexandre opened #117 "example does not work."
I tested the example shown in the readme, but even so it keeps giving error, is there any more complete documentation?

![image](https://user-images.githubusercontent.com/4489558/150724704-3f0ffd2d-fb63-4777-b92a-11313f911b2c.png)

mix.exs

![image](https://user-images.githubusercontent.com/4489558/150724757-c5240f9f-8b43-40e2-b5dc-fa19cda3eb53.png)

Error:
![image](https://user-images.githubuserc

[2022-01-24 07:40] wojtekmach commented on #117
Note the crash happens in your Logger.info call. We cannot print maps as is. Change `#{credentials}` to `#{inspect(credentials)}` and same for `source` line below. Does that help?

[2022-01-24 12:00] devalexandre commented on #117
I remove a Logger.
![image](https://user-images.githubusercontent.com/4489558/150779304-79e9d15a-392c-4896-87e4-d30445c537a2.png)

![image](https://user-images.githubusercontent.com/4489558/150779357-8d519fe0-5caa-444a-8c16-3b79389a40f7.png)

[2022-01-24 12:39] wojtekmach commented on #117
I could see in the earlier stack trace that you had `"type" => "authorized_user"` in your credentials. The credentials must be for the service account. You can create them for example like this:

[code]

[2022-01-24 12:39] #117 closed

[2022-02-02 06:47] krishandley commented on #101
Sorry to bother you, just writing this in case you happen to know. This did work initially when I had one function.

Maybe I'm doing something wrong, but doesn't seem to work if you have two functions. Adding multiple function urls to the scopes breaks all of them.

I can add Goth multiple times with different ID's to my supervision tree, I don't know if that's a terrible idea or not, but it works

[2022-02-02 13:47] paveltyk commented on #101
@krishandley since #102 has been merged in master maybe try the `master` branch with the `claims` approach? I do not remember it on top of my head, but try something like:

[code]

[2022-02-03 00:44] krishandley commented on #101
@paveltyk Thanks for the quick reply. I missed the updated docs for Goth.Token on master.

I wasn't able to figure out the config for multiple functions inside start_link. But calling this before calling a function worked, without needing the claims in the config.

[code]

[2022-02-03 11:32] paveltyk commented on #101
@krishandley Yes, that sounds right. Those claims will be passed to individual GenServers managed by Goth.

[2022-02-06 17:23] ckochx commented on #113
I am receiving a similar message.
On a Raspberry Pi Zero running nerves (1.7.13)
Elixir 1.13.2
Goth 1.3.0-rc.3

As soon as the device boots (after a fresh firmware update) I see this message repeated for some period of time (perhaps 1-2 minutes) then it appears to resolve and cease.

[2022-03-15 16:20] mrdotb opened #118 "Document refresh token"
Hello,

I struggled a bit to find the correct token to upload video on youtube it does not work with service account. I realize later that goth 1.3 support `refresh_token` when I read the code.
I wrote [upload on youtube with elixir](https://mrdotb.com/posts/upload-on-youtube-with-elixir/)
The part to get the refresh token could be useful for goth users.

[2022-03-16 14:07] tidusIO commented on #82
Any ideas, when 1.3 will be fully released? :)

[2022-03-16 14:09] wojtekmach commented on #82
https://github.com/peburrows/goth/issues/113 is a little bit worrying so after that one is fixed we'll be good to go. Any help diagnosing and/or fixing the issue would be very appreciated.

[2022-04-19 08:11] Zat42 opened #120 "How to generate ID token from default service account ? (`metadata`)"
To generate an ID token from a service account key file, I setup Goth like this :

[code]

This is working fine and I can get an ID token that can be decoded and used for authentication. But if I deploy this instance to Cloud Run and use the default service account :

[code]

I can't get the ID token anymore and it always return an access token instead of an ID token

Also, `:metadata`  is working

[2022-04-19 11:16] Zat42 commented on #120
**Edit**: After checking deeper into code, this is actually not possible. I'll try to make a pull request to handle this if not out of scope.

[2022-04-19 13:24] Zat42 commented on #120
#121

[2022-04-19 13:24] #120 closed

[2022-04-22 14:10] wojtekmach opened #123 "Improve retry logic"
Currently we wait just 1s after each retry and try up to 3 times. This is not good enough. Let's make it configurable and give more robust defaults. It would probably be best to go for exponential backoff, see: https://github.com/wojtekmach/backoff/blob/main/lib/backoff.ex.

[2022-04-22 14:12] wojtekmach opened #124 "Improve prefetching and fetching logic"
As mentioned in https://github.com/peburrows/goth/pull/119 we should add async prefetch. We should also change fetch to do a GenServer call if cache is cold.

[2022-04-22 14:14] wojtekmach commented on #113
I was able to reproduce the exact same error by turning my clock backwards for couple hours and starting Goth. It makes sense, the token would be way in the past and so Google rejects it with 400. I believe something like this might happen when a computer wakes up from the sleep, it'd use the "old" clock for a while before it catches up with NTP and such.

There's nothing we can do about this part

[2022-04-22 14:14] #113 closed

[2022-04-22 14:19] wojtekmach commented on #115
It seems it worked correctly on Goth v1.2 but not on v1.3? Please provide two snippets so I could run this locally:

[code]

[code]

I'm gonna close this in the meantime but please feel free to continue the discussion here.

[2022-04-22 14:19] #115 closed

[2022-04-22 14:29] wojtekmach commented on #118
Thank you for creating the walkthrough! I'm not sure how to best integrate it into our docs. Perhaps a section at the bottom of the README with community resources? I'm gonna close the issue in the meantime, but please feel free to send a PR.

[2022-04-22 14:29] #118 closed

[2022-04-22 14:47] wojtekmach opened #125 "Simplify http client contract"
While the behaviour works well, I believe a much simpler contract will be a 1-arity function that accepts a keyword list with `:method`, `:url`, `:headers`, `:body` and passes remaining options through as adapter-specific. And it returns `{:ok, map} | {:error, exception}`.

We'd configure it as simply: `http_client: &mod.fun/1`. If you'd want to adjust options, you'd: `http_client: {&mod.fun/1, op

[2022-04-24 23:46] dannypsnl commented on #115
Yes, I already found these two versions give two different tokens back to me, where version 1.3 didn't work.

### 1.2
[code]
### 1.3
[code]

[2022-04-25 05:25] dannypsnl commented on #115
Updated! I finally figure out the problem, I didn't notice old code's scope has more than one. My fault, thanks for help.

[2022-04-25 15:35] aleDsz commented on #123
Looking into [`backoff.ex`](https://github.com/wojtekmach/backoff/blob/main/lib/backoff.ex), sounds interesting not only to backoff, but to provide a behaviour that anyone could create their custom backoff with their rules.

So, I'm thinking about defining a default backoff implementation if the user doesn't define it on `goth` config. This could be awesome to make them to decide when `Goth` shoul

[2022-04-28 15:25] #124 closed

[2022-04-28 15:25] #123 closed

[2022-04-29 17:38] aleDsz commented on #125
I was thinking about keep the current implementation but, using pattern matching, if the configuration is with `{module, opts}` we emit a warning about the implementation is being deprecated. WDYT?

[2022-04-29 18:03] wojtekmach commented on #125
:http_client option never existed in a stable version, it was only for a RC, but as a thank you to people who tried RC, if doesn't complicate things to keep it around, let's do that. I would keep it only until 1.4 or so though. Deprecation can be much simpler too: `setting http_client: {mod, opts} is deprecated in favour of http_client: &fun/1`

[2022-05-03 14:06] wojtekmach opened #130 "Replace `:refresh_before` with `:refresh_after`"
Currently we have:

[code]

[code]

let's switch to a much simpler:

[code]

[code]

[2022-05-03 18:54] #130 closed

[2022-05-03 18:55] #125 closed

[2022-05-03 19:51] wojtekmach commented on #82
The last planned RC, v1.3.0-rc.4, is out! See:

* https://hexdocs.pm/goth/1.3.0-rc.4/readme.html
* https://hexdocs.pm/goth/1.3.0-rc.4/Goth.html
* https://hexdocs.pm/goth/1.3.0-rc.4/Goth.Token.html

Unless anything comes up, I'm planning to release 1.3.0 final on Tuesday, June 1st.

Thank you everyone for testing this out and reporting bugs and improvements.

[2022-05-03 19:51] #82 closed

[2022-05-25 21:46] gilbertobr opened #133 "Configure goth with ADC service account"
I'm currently trying to use goth to authenticate with a "cloud run" service account.

Cloud Run uses "Application Default Credentials" .

From what I saw in the goth Readme, all the examples in application.ex ask to be passed a file or a json?

Could you provide a configuration example?

[2022-05-25 21:53] wojtekmach commented on #133
If you have a service account you should take the credentials JSON and pass it to `source: {:service_account, credentials, options}`. We don't have support for ADC in the sense that we automatically look to known places for auth data. See https://github.com/peburrows/goth/issues/94. If you'd like to send a PR for that, it would definitely be appreciated! Closing for now.

[2022-05-25 21:53] #133 closed

[2022-05-25 21:55] wojtekmach commented on #133
Just to be clear if you run into issues using goth with Cloud Run please let us know. It's just proper ADC support is not something we're planning tackle ourselves at the moment hence I've closed the issue.

[2022-05-27 09:38] Zat42 opened #134 "Goth return access token expired"
[code]

For some reason, **Goth** is returning expired access token. Could this be related to #131 ? (@aleDsz)

I am currently using `:goth, "~> 1.3-rc.4"`, previous version seems to be fine.

[2022-05-27 09:56] wojtekmach commented on #134
by previous version did you mean previous 1.3-rc or 1.2 or older?

[2022-05-27 14:31] Zat42 commented on #134
`1.3-rc` and I am pretty sure it was `1.3-rc.3`, but I need to check to be sure. Anyway I never had this kind on problem before 🤔

[2022-05-27 14:34] wojtekmach commented on #134
These things are hard to reproduce, but if you are successful, please let us know.

FWIW on my part I did set `refresh_after: 5000` and observed that the token is correctly refreshed every 5s. I also wrote a script that hits an API every minute for a couple of hours and yeah, sure enough the token got automatically refreshed on ~55min mark.

[2022-05-27 14:49] Zat42 commented on #134
I just did some digging in the logs and it seems that newly "generated" (retrieved) token only last for 30 minutes instead of 1 hour. It is like the "refresh token" action is not synchronized with token expiration time.

[2022-05-27 14:54] Zat42 commented on #134
I will try to completely remove my cloud run instance and build it again to see if this solve the issue, I don't know exactly why but maybe it's just the update from `:refresh_before` to `:refresh_after` that messed up some timings?

[2022-05-27 14:55] wojtekmach commented on #134
Oh wow, ok, this is good to know. What type of `:source` do you use? `{:refresh_token, _, _}`? I see we are not setting any expiration on that source type.

[2022-05-27 20:47] wojtekmach commented on #134
Ok, here's what's happening. When we request a token from the metadata service, we're not gonna get a new token each time. It's gonna keep returning us the same token. So we cannot do :refresh_after, we must do :refresh_before, because otherwise on a new deployment we are not able to correctly calculate for how long the token is valid.

@Zat42 thank you so much for reporting this issue and helping

[2022-05-30 07:59] Zat42 commented on #134
@wojtekmach thank you for checking! I am using a short `:refresh_after` time until new version is released 👌

[2022-06-07 10:00] lkananowicz commented on #82
@wojtekmach What is the planned release date of version 1.3.0 final?

[2022-06-07 10:28] wojtekmach commented on #82
Unless anything else comes up I plan to cut the release after the one outstanding PR lands.

[2022-06-08 09:11] #134 closed

[2022-06-08 09:36] wojtekmach opened #136 "v1.2 API to get token from metadata server is broken"
Goth v1.2 and earlier automatically starts Goth.Config which would do the "Application Default Credentials" heuristic, checking common files for credentials, falling back to calling Google internal metadata service, or otherwise failing.

In v1.3 we are deprecating implicit config in favour of explicitly starting Goth token cache servers in user's supervision trees. If a user had configured :goth

[2022-06-08 09:38] wojtekmach commented on #82
Unfortunately the release is postponed indefinitely given we've accidentally introduced a breaking change: #136. Not yet sure if there's a way to fix it in a backwards compatible way or we'd need to ship v2.0.

[2022-06-24 07:30] wojtekmach commented on #136
This is fixed on master by lazily starting Goth.Config server.

[2022-06-24 07:30] #136 closed

[2022-07-20 16:53] martosaur commented on #134
Hi folks, I think there is still some issue in there. Every morning after I wake my laptop from sleep `Goth.fetch` gets me either a seemingly valid but expired token or this error:
[code]

We use all default configuration with custom HTTP client `{Goth, name: MyGoth, http_client: &MyGoth.HTTP.request/1}` and rely on `GOOGLE_APPLICATION_CREDENTIALS=path/to/credentials.json` env variable for credent

[2022-07-20 17:11] wojtekmach commented on #134
For performance we rely on cache as much as possible, if cache is hot we assume it is valid and we schedule refreshes to keep it so. When scheduler goes to sleep, that is thrown out if the window.

i think what we could do is in Goth.fetch after grabbing the token we compare it with system time. If it has expired we’d do a GenServer call to get a fresh one. WDYT? Would you like to explire it?

[2022-07-20 19:28] martosaur commented on #134
@wojtekmach sounds good, here's my attempt https://github.com/peburrows/goth/pull/141

[2022-08-06 07:02] alexanderttalvarez opened #144 "unknown registry Goth.Registry"
Hello!

After upgrading to Goth 1.3, and following the instructions [here](https://github.com/peburrows/goth/blob/master/UPGRADE_GUIDE.md), we are receiving an error `unknown registry Goth.Registry`. Looks like the registry is never started. Is there anything missing in the docs?

![Captura de Pantalla 2022-08-06 a las 8 59 30](https://user-images.githubusercontent.com/22129087/183238276-68ff9c5f-

[2022-08-06 15:34] wojtekmach commented on #144
This is very odd, it seems the goth app wasn't properly started. Do you have by any chance either:

`{:goth, ..., runtime: false}`

or

[code]

?

[2022-08-08 06:10] alexanderttalvarez commented on #144
Oh I see! We have the `runtime: false` one. We are only using Goth inside a Script, we don't want to use it during runtime. How can we keep using the `runtime: false` flag?

Thank you!

[2022-08-08 07:35] wojtekmach commented on #144
Do:

[code]

at the beginning of the script!

[2022-08-08 07:35] #144 closed

[2022-08-11 12:12] kandaiiskandar opened #145 "disable: true not working in v1.3.0"
I have added Goth to my supervision tree and set` config :goth, disabled: true`

When i start the server, It throws an error.
`[error] GenServer {Goth.Registry, Academy.Goth} terminating
** (CaseClauseError) no case clause matching: :error
    (goth 1.3.0) lib/goth/token.ex:231: Goth.Token.request/1
    (goth 1.3.0) lib/goth.ex:194: Goth.prefetch/1
    (goth 1.3.0) lib/goth.ex:187: Goth.handle_con

[2022-08-11 13:29] kandaiiskandar opened #146 "Missing case :error"
https://github.com/peburrows/goth/blob/721179fffa91f3049fd9471af379fce7cfbd4af0/lib/goth/token.ex#L231

[2022-08-11 13:55] wojtekmach commented on #146
Let's keep the conversation on the other issue, thanks!

[2022-08-11 13:55] #146 closed

[2022-08-11 13:57] wojtekmach commented on #145
A PR that raises a better error message would be very appreciated. Ideally we'd raise the same error as before:

[code]

[2022-09-18 04:50] sasikumar87 opened #147 "Too many failed attempts to refresh error"
I am using goth (version 1.3.1) along with google_api_sheets in a phoenix application. After inactive for sometime, I start seeing the following error message in server logs.

[code]

[2022-09-25 15:26] nichita-pasecinic opened #148 "Could not start `Application` (example from docs)"
Error:
[code]

[code]

[2022-09-25 15:27] nichita-pasecinic commented on #70
@619 how did you solved it ?

[2022-09-25 16:07] nichita-pasecinic commented on #148
I think it fails at the first Token.fetch with the default_scope, because I don't have it configured in Google console, so how it would be possible to omit default token fetch on application boot, or how to change the default scope ?

[2022-09-25 16:38] nichita-pasecinic commented on #148
sometimes I do get this error

[code]

[2022-09-25 16:42] nichita-pasecinic commented on #148
damn, all good, Just used an older version of the library

On ` {:goth, "~> 1.3"}` works perfectly! Thx for the lib 😄

[2022-09-25 16:42] #148 closed

[2022-10-07 23:05] jsmestad commented on #147
I get this as well. Is the only way to fix this to reboot the app?

[2022-10-13 13:38] dokie commented on #145
I have the same query really, since `goth` will try to run with no configuration (as we only want to use `goth` in prod and not in development or testing - apart from in the integration testing cases we may have). For now I will adopt the approach that @nwittstruck suggests as a brute force workaround.

[2022-10-13 14:21] wojtekmach commented on #145
Yes, exactly.

I'm going to close but of course feel free to keep discussing.

[2022-10-13 14:21] #145 closed

[2022-10-13 14:49] wojtekmach commented on #147
There was a similar issue, https://github.com/peburrows/goth/issues/113, and the conclusion was we can't do anything about it except wait for the system to self-heal by catching up to NTP and such. By default we're retrying 10 times with an exp delay (1s, 2s, 4s, 8s, ...) which should be plenty of time. But maybe it isn't? You can try bumping the max_retries or even set it to :infinity. Does that

[2022-10-14 19:09] shellking4 opened #150 "Need for documentation about configuration"
First thank you for this work.
I'm trying since two hours to get the access_token using this package but it's such difficult to figure out how to configure things properly
I already have my credentials.json

`{
    "web": {
        "client_id": "******",
        "project_id": "******",
        "auth_uri": "*****",
        "token_uri": "*****",
        "auth_provider_x509_cert_url": "*******",

[2022-10-14 19:17] wojtekmach commented on #150
Goth supports fetching token using service account, refresh token, or internal metadata service but it seems you have credentials for web-based flow which is not supported.

[2022-10-14 19:17] #150 closed

[2022-10-14 19:20] wojtekmach commented on #150
I closed the issue as supporting that flow is not on the roadmap but of course feel free to keep discussing it. I'd try authenticating using service account as that is the more common and once you've Goth working there, try different things.